.friendContainer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.friendDateBox{
    background-color: #BE013C;
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.friendComment{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.friendField{
    width: 240px;
    text-align:start;
    margin-left: 5px;
}
.friendFieldfirst{
    width: 90px;
    text-align:start;
}
.FriendCommentName {
    display: flex;
    justify-content: center;
}