.info-box {
  display: flex;
  max-width: 800px;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 150px;
  height: 70vh;
}

.header-img {
  margin: 0 auto;
}
.header-img img {
  max-width: 100%;

  max-height: 50%;
}

.img {
  width: 85%;
  margin: 0 auto;
  height: 50%;

  margin-top: 20px;
  border-radius: 10px;
}

.btn-container {
  display: flex;
  justify-content: space-around;
}

.info {
  text-align: center;
}
.btn-container button {
  padding: 6px 20px;
  font-size: 20px;
  color: black;
  border-radius: 10px;
  background-color: #ebebeb;
}

.info-name {
  color: #be013c;
}
.info-description {
  color: #4b0018;
  font-size: 28px;
}
.infoCommentBox{
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  text-align: center;
  color: white;
}