.info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  gap: 10px;
}
.img {
  width: 335px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  overflow: hidden;
  margin-top: 20px;
  border-radius: 10px;
}
.img img {
  border-radius: 10px;
}
hr {
  border-bottom: 2px solid black;
}
.btn-container {
  display: flex;
  justify-content: space-around;
}

.info {
  text-align: center;
}
.btn-container button {
  padding: 6px 20px;
  font-size: 20px;
  color: black;
  border-radius: 10px;
  background-color: #ebebeb;
}

.info-name {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.7px;
}

.info-date.show {
  background-color: #fbfbfb;
  display: flex;
  right: 20px;
  width: 90%;
  border: 2px solid #be013c;
  margin: 0;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding: 10px;
}
#openBtn {
  display: block;
  margin: 0 auto;
}

.info-date {
  display: none;
  background-color: #e9d1d1;
  border: 2px solid #be013c;
  padding: 0;
  margin: 0;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding: 15px;
}
.info-date h2 {
  color: #4b0018;
  font-size: 28px;
}
.fa-solid {
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
}

.info-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
  height: 100%;
  width: 300px;
  flex-wrap: wrap;
}

.info-date p {
  font-size: 24px;
  font-weight: 600;
}
.info-date-btn {
  font-size: 22px;
  
  width: 300px;
  align-items: center;
  gap: 20px;
}
.info-description {
  font-size: 28px;
}
.infoCommentBox {
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  text-align: center;
  color: white;
  width: 335px;
}
.infocategory {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 22px;
  font-weight: 600;
  width: 300px;
}

.btn-container {
  margin-bottom: 20px;
  gap: 20px;
}
