.info-box {
  display: flex;
  max-width: 800px;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 150px;
  height: 70vh;
}

.header-img {
  margin: 0 auto;
}
.header-img img {
  max-width: 100%;
}

.date-img img {
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
}
.date-img {
  max-width: 90%;
  margin: 0 auto;
}

.btn-container {
  display: flex;
  justify-content: space-around;
}

.info {
  text-align: center;
}
.btn-container button {
  padding: 6px 20px;
  font-size: 20px;
  color: black;
  border-radius: 10px;
  background-color: #ebebeb;
}

.info-name {
  font-size: 55px;
  color: #be013c;
}
.info-description {
  color: #4b0018;
  font-size: 28px;
}
