body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    background: radial-gradient(circle, rgb(255, 84, 84), rgb(0, 0, 0) 140%);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}