.memoryContainer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    
}

.memoryCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #d987e7;
    width: 320px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    /*border: 2px solid #87349e;*/
}
.memoryCard img {
}
.memoryImgFrame {
    box-shadow: 5px 5px 15px black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    
    
    overflow: hidden;
}
.memoryNameText{
    margin-bottom: 5px;
}
/*background: linear-gradient(to bottom, #e1bee7, #87349e);*/
.memoryTopName{
    margin: 10px;
    font-size: large;
}