.memoryContainer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.memoryCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgb(255, 157, 157), rgb(255, 86, 86) 130%);
    width: 320px;
    padding: 10px
}
.memoryCard img {
    height: 200px;
   
}