.Box-rightProfile {
    width: 90px;
    height: 90px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Box-leftProfile{
    width: 90px;
    height: 90px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profileContainer{
    margin-top: 105px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profileChoicesPartner{
    display: flex;
    gap: 5px;
}
.profileSearchInput{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 5px;
}
.profileSearchInput input {
    font-size: large;
    border-radius: 10px 0 0 10px;
    border: none;
    padding: 3px;
}
.profileSearchInput button {
    width: 100px;
    height: 27px;
    border-radius: 0 10px 10px 0;
    padding: 5px;
}
.searchresultboxes {
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    width: 300px;
}
.searchresultbutton{
    align-items: center;
    display: flex;
    justify-content: center;
}
.profileImageBox{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    overflow: hidden;
}
.profileSearchGrid{
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    box-shadow: 5px 5px 10px black;
    background-color: #e1bee7;
    position: absolute;
    top: 150px;
    max-height: 400px;
    overflow-y: auto;
}
.profileImageBoxPartner{
    position: absolute;
    top: 260px;
    right: 40px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    overflow: hidden;
}